<div class="modal fade" id="modalNotice" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{res.string.notice}}</h4>
      </div>
      <div class="modal-body">
        <p id="ModalMessage">One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{res.string.close}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  function notice_popup(msg){
    $('#ModalMessage').text(msg)
    $('#modalNotice').modal('show')
  }
</script>
