.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

propel.php
node_modules
composer.lock
public/components
generated-sql
generated-conf
generated-migrations
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
public/.tmp
public/assets/spreadsheet/*
public/upload/images/*
!public/assets/spreadsheet/index.html
!public/upload/images/thumb/index.html
!public/upload/images/default-thumnail.jpg
public/upload/tmp/*
!public/upload/tmp/index.html
public/tmp/*
!public/tmp/index.html
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.swp
