 {% extends "dashboard.html" %} {% set title= res.string.password  %}  {% set bc_text = res.string.password %} {% set breadcrumbs = [ {'link':'#','text':bc_text }] %}
 {% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <form id="form_User" method="post" data-parsley-validate class="form-horizontal form-label-left">
      <div class="box box-info">
        <div class="box-header with-border">{{res.string.change_password}}</a>
<button type="submit" class="btn btn-default pull-right" name="button">{{res.string.save}}</button>
        </div>
        <div class="box-body">
          <div class="">
            <label for="OldPassword">{{res.string.old_password}}</label>
            <input type="password" name="OldPassword" id="OldPassword" required class="form-control">
          </div>
          <div class="">
            <label for="NewPassword">{{res.string.new_password}}</label>
            <input type="password" name="NewPassword" id="NewPassword" required class="form-control">
          </div>
          <div class="">
            <label for="RepeatPassword">{{res.string.retype_password}}</label>
            <input type="password" data-parsley-trigger="input" required data-parsley-equalto="#NewPassword" name="RepeatPassword" id="RepeatPassword" class="form-control">
          </div>
        </div>
    </form>
    </div>
  </div>
  {% endblock %} {% block bottom%} {% include 'admin/admin/users/_modal_change_password.html' %} {% endblock %}
